/******************************************************************************
 *
 * Light theme
 *
 *****************************************************************************/

.notification-bar > .pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 11, 0.0, 0, 3);
}

.notification-bar > .pane .title {
    -fx-font-size: 1.166667em; /*15px;*/
    -fx-font-family: "Roboto";
    -fx-text-fill: WHITE;
    -fx-font-weight: bold;
}

.notification-bar > .pane .message {
    -fx-font-size: 1.166667em; /*15px;*/
    -fx-font-family: "Roboto";
    -fx-text-fill: WHITE;
 }


/******************************************************************************
 *
 * Close button
 *
 *****************************************************************************/
 .notification-bar > .pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button > .graphic {
    -fx-background-color: WHITE;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar > .pane .close-button > .graphic {
    -fx-shape: "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}